<div class="header"><h1>Rejestracja w aplikacji Ngx-Todo!</h1></div>

<div class="login-page">
  <div class="form">
    <form class="register-form" *ngIf="form" [formGroup]="form">
      <input type="text" placeholder="Email" formControlName="email"/>
      <input type="password" placeholder="Hasło" formControlName="password"/>
      <input type="text" placeholder="Imię" formControlName="name"/>
      <input type="text" placeholder="Nazwisko" formControlName="surname"/>
      <button (click)="register(form)">create</button>
      <p class="message">Posiadasz już konto? <a href="#">Zaloguj się!</a></p>
    </form>
  </div>
</div>
