@import '../../../../shared.scss';

.snackbar-wrap {
  font-size: 18px;
  position: fixed;
  bottom: 50px;
  left: 50%;
  padding: 20px 20px;
  min-width: 20%;
  transform-origin: center center;
  @include border-radius(4px);
  @include transform(translate(-50%, 0%));

  &.success {
    background: $color-primary;
    border: solid 2px $color-secondary
  }

  &.danger {
    background: $color-danger;
  }

  .snackbar-text {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: $color-white;
    margin: 0;
  }
}

