<div class="navbar">

  <div class="lists-anchors"></div>
  <div class="title"> NGX - TODO </div>
  <div class="user-anchor"><fa name="user-circle-o"></fa></div>

</div>

  <div class="blocks-wrapper">

    <div [style.width]="chosenList ? '40%' : '100%'" class="block-lists">
      <div class="block-add">
        <form *ngIf="listForm" [formGroup]="listForm">
            <input class="field-add" type="text" formControlName="name" placeholder="Wprowadź nazwę nowej listy" />
            <button class="button-add" (click)="createList(listForm)" [disabled]="f.name.errors"> <fa name="plus-square"></fa> </button>
        </form>
      </div>
      <div class="lists">
        <ul>
          <li *ngFor="let list of (lists | async)"> <span (click)="loadChosenList(list)"> {{list?.name}} </span> </li>
        </ul>
      </div>
    </div>

    <div *ngIf="chosenList" class="block-tasks">
      <div class="block-add">
        <form *ngIf="chosenListForm" [formGroup]="chosenListForm">
          <input class="field-add" type="text" formControlName="name" placeholder="Lista" />
            <button class="button-add" (click)="updateList(chosenListForm)"><fa name="pencil"></fa></button>
            <button class="button-add" (click)="deleteList(chosenListForm)"><fa name="trash"></fa></button>
        </form>
      </div>

      <div class="block-add">
        <form *ngIf="taskForm && chosenList" [formGroup]="taskForm">
          <input class="field-add" formControlName="name" placeholder="Wprowadź nazwę nowego zadania" />
            <button class="button-add" (click)="addTask(taskForm)"><fa name="plus-circle"></fa></button>
        </form>
      </div>

      <div class="tasks">
        <ul>
          <li *ngFor="let task of (tasks | async)">
            <ng-container *ngIf="!task.isDone">
              <div (mouseenter)="onMouseEnter($event, task, true)" (mouseleave)="onMouseLeave($event, task, true)" (click)="updateTask(task, true)" [ngClass]="task.isDone ? 'tick-full' : 'tick'" class="tick"></div>
              <div (mouseenter)="onMouseEnter($event, task, false)" (mouseleave)="onMouseLeave($event, task, false)" (click)="updateTask(task, false)" [ngClass]="task.isPartiallyDone ? 'yellow-tick-full' : 'yellow-tick'" class="yellow-tick"></div>
              <span>{{task.name}}</span>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>

  </div>
