<div class="navbar">

  <div class="lists-anchors"></div>
  <div class="title"> NGX - TODO </div>
  <div class="user-anchor"></div>

</div>

  <div class="blocks-wrapper">

    <div class="block-lists">
      <div class="block-add">
        <ng-container *ngIf="form" [formGroup]="form">
          <div>
            <input class="field" type="text" formControlName="name" placeholder="Nowa lista" />
            <button class="button-add" type="submit" (click)="createList(form)" [disabled]="f.name.errors"> + </button>
          </div>
        </ng-container>
      </div>
      <div class="list">
        <ul *ngFor="let list of (lists | async)">
          <li (click)="loadChosenList(list)"> {{list?.name}} </li>
        </ul>
      </div>
    </div>

    <div class="block-tasks">
      <div class="block">
        <form *ngIf="chosenListForm" [formGroup]="chosenListForm">
          <input class="field" formControlName="name" [placeholder]="'nothing'" />
          <div>
            <button class="button" (click)="updateList(chosenListForm)">Edytuj</button>
          </div>
          <div>
            <button class="button" (click)="deleteList(chosenListForm)">Usuń</button>
          </div>
        </form>
      </div>

      <div class="block">
        <form *ngIf="taskForm" [formGroup]="taskForm">
          <input class="field" formControlName="name" placeholder="Zadanie" />
          <div>
            <button class="button" (click)="addTask(taskForm)">Dodaj zadanie</button>
          </div>
        </form>
      </div>

      <div class="siblings">
        <ul *ngFor="let task of getFormArray()">
          <li> {{task.value.name}} </li>
        </ul>
      </div>
    </div>

  </div>
