

.tick {
  user-select: none;
  margin: 0 5px;
  background: url("../../../assets/img/tick_border.png") no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}

.tick-full {
  user-select: none;
  margin: 0 5px;
  background: url("../../../assets/img/tick.png") no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.yellow-tick {
  user-select: none;
  background: url("../../../assets/img/tick_yellow_border.png") no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}

.yellow-tick-full {
  user-select: none;
  background: url("../../../assets/img/tick_yellow.png") no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.blocks-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.block-lists {
  border-right: 1px solid #f1f1f1;
  background-color: #f39c1203;
  height: auto;
  width: 40%;
  text-align: center;
  overflow-y: scroll;
}

.block-tasks {
  height: auto;
  flex: 1;
  border-right: 1px solid #f1f1f1;
  overflow-y: scroll;
}

.block-add {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px;
}

.lists {
  height: auto;

  li {
    text-transform: uppercase;
  }
}

form {
  display: inherit;
  width: 100%;
  height: 100%;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  user-select: none;
  width: 100%;
  height: auto;
  line-height: 50px;
  border-bottom: 1px solid #f1f1f1;
  font-family: "Roboto", sans-serif;
  color: black;
  word-wrap: break-word;
}

li span {
  margin-left: 5px;
}

li span:hover {
  user-select: none;
  text-decoration: underline;
  cursor: pointer;
}

fa {
  line-height: 35px;
}

.field-add {
  padding: 10px 20px;
  border: 2px solid #25a75c;
  outline: #25a75c;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px / normal Tahoma, Geneva, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-indent: 1px;
  -o-text-overflow: clip;
  text-overflow: clip;
  word-spacing: 2px;
  background: rgba(252, 252, 252, 1);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
  width: 80%;
  margin-right: 5px;
}

.button-add {
  cursor: pointer;
  outline: none;
  min-width: 40px;
  min-height: 40px;
  border: 2px solid #25a75c;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  font: normal 26px / normal Tahoma, Geneva, sans-serif;
  color: #25a75c;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.2s;
}

.button-add:hover {
  cursor: pointer;
  outline: none;
  min-width: 40px;
  min-height: 40px;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  font: normal 26px / normal Tahoma, Geneva, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  background: #25a75c;
}








