@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.tick {
  user-select: none;
  margin: 0 5px;
  background: url("../../../assets/img/tick_border.png") no-repeat;
  background-size: cover;
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
}

.tick-full {
  user-select: none;
  margin: 0 5px;
  background: url("../../../assets/img/tick.png") no-repeat;
  background-size: cover;
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &.archive {
    cursor: default;
  }
}

.yellow-tick {
  user-select: none;
  background: url("../../../assets/img/tick_yellow_border.png") no-repeat;
  background-size: cover;
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
}

.yellow-tick-full {
  user-select: none;
  background: url("../../../assets/img/tick_yellow.png") no-repeat;
  background-size: cover;
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &.archive {
    cursor: default;
  }
}

.blocks-wrapper {
  display: flex;
  width: 100%;
  height: 90vh;
}

.block-lists {
  border-right: 1px solid #f1f1f1;
  background-color: #f39c1203;
  height: auto;
  width: 40%;
  text-align: center;
  overflow-y: scroll;
}

.block-tasks {
  height: auto;
  flex: 1;
  border-right: 1px solid #f1f1f1;
  overflow-y: scroll;
}

.block-add {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px;
}

.block-info {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  padding: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #195d2e;
}

.lists {
  height: auto;

  li {
    text-transform: uppercase;
    font-weight: bold;
  }
}

form {
  display: inherit;
  width: 100%;
  height: 100%;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  user-select: none;
  width: auto;
  height: auto;
  line-height: 50px;
  border-bottom: 1px solid #f1f1f1;
  font-family: "Roboto", sans-serif;
  color: black;
  word-wrap: break-word;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
}

li span {
  margin-left: 5px;
}

li span:hover {
  user-select: none;
  cursor: pointer;
}

.block-tasks li span:hover {
  text-decoration: underline;
}

.task-archive-done {
  @extend .task-archive;
  text-decoration: line-through;
}

.task-archive {
  cursor: default !important;
}

i.fa {
  line-height: 30px !important;
  font-size: 20px;
}

fa {
  font-size: 32px;
}

.field-add {
  border: 2px solid #25a75c;
  outline: #25a75c;
  font: normal 20px / normal Tahoma, Geneva, sans-serif;
  color: rgba(0, 0, 0, 1);
  background: rgba(252, 252, 252, 1);
  width: 90%;
  margin-right: 5px;
  text-align: center;
}

.button-add {
  cursor: pointer;
  outline: none;
  min-width: 40px;
  border: 2px solid #25a75c;
  font: normal 26px / normal Tahoma, Geneva, sans-serif;
  color: #25a75c;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.2s;
}

.button-add:hover {
  @extend .button-add;
  color: rgba(255, 255, 255, 0.9);
  background: #25a75c;
}








