body, html {
  font-family: "Lato", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #2ecc71;
  width: 100%;
  height: 60px;
  border: solid 1px #25a75c;
  -webkit-transition: height 200ms ease-in;
  transition: height 200ms ease-in;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.lists-anchors {
  width: 140px;
  border-right: solid 1px #25a75c;
}

.title {
  width: 400px;
  color: #fff;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-right: solid 1px #25a75c;
  border-left: solid 1px #25a75c;
  text-align: center;
  line-height: 60px;
}

.user-anchor {
  width: 70px;
  border-left: solid 1px #25a75c;
}

.list {
  height: auto;

  li {
    text-transform: uppercase;
  }
}

.blocks-wrapper {
  display: flex;
  width: 100%;
  height: auto;
}

.block-lists {
  border-right: 1px solid #f1f1f1;
  background-color: #f39c1203;
  height: auto;
  width: 40%;
  text-align: center;
}

//$colors: red, orange, yellow, green, blue, purple;
//$repeat: 20;
//
//@for $i from 1 through $repeat {
//  li:nth-child(#{length($colors)}n+#{$i}):before {
//    color: lighten(nth($colors, random(length($colors))), 20%);
//  }
//}
//

//li:before {
//  content: '';
//  display: inline-block;
//  height: 25px;
//  vertical-align: middle;
//  margin-right: 2px;
//  width: 25px;
//  background-image: url('../../../assets/img/tick_border.png');
//  background-size: contain;
//  background-repeat: no-repeat;
//}
//
//li:hover:before {
//  background-image: url('../../../assets/img/tick.png');
//}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  width: 100%;
  height: auto;
  line-height: 50px;
  border-bottom: 1px solid #f1f1f1;
  font-family: "Roboto", sans-serif;
  color: black;
}

li span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.block-tasks {
  height: auto;
  flex: 1;
  border-right: 1px solid #f1f1f1;
}

.field {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 2px solid #25a75c;
  outline: #25a75c;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px / normal Tahoma, Geneva, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-indent: 1px;
  -o-text-overflow: clip;
  text-overflow: clip;
  word-spacing: 2px;
  background: rgba(252, 252, 252, 1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0) inset;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0) inset;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
}

.block-add {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px;
}

.field-add {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 2px solid #25a75c;
  outline: #25a75c;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px / normal Tahoma, Geneva, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-indent: 1px;
  -o-text-overflow: clip;
  text-overflow: clip;
  word-spacing: 2px;
  background: rgba(252, 252, 252, 1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0) inset;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0) inset;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
  width: 80%;
  margin-right: 5px;
}

.button-add {
  cursor: pointer;
  outline: none;
  min-width: 40px;
  min-height: 40px;
  border: 2px solid #25a75c;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  font: normal 26px / normal Tahoma, Geneva, sans-serif;
  color: #25a75c;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
}

.img-content-tick {
  margin: 0 5px;
  //-moz-box-sizing: border-box;
  //box-sizing: border-box;
  background: url("../../../assets/img/tick_border.png") no-repeat;
  background-size: cover;
  width: 32px; /* Width of new image */
  height: 32px; /* Height of new image */
  display: inline-block;
  vertical-align: middle;
}

fa {
  line-height: 35px;
}

.img-content-tick-full {
  margin: 0 5px;
  //-moz-box-sizing: border-box;
  //box-sizing: border-box;
  background: url("../../../assets/img/tick.png") no-repeat;
  background-size: cover;
  width: 32px; /* Width of new image */
  height: 32px; /* Height of new image */
  display: inline-block;
  vertical-align: middle;

  cursor: pointer;
}

.img-content-yellow {
  //-moz-box-sizing: border-box;
  //box-sizing: border-box;
  background: url("../../../assets/img/tick_yellow_border.png") no-repeat;
  background-size: cover;
  width: 32px; /* Width of new image */
  height: 32px; /* Height of new image */
  display: inline-block;
  vertical-align: middle;
}

.img-content-yellow:hover {
  //-moz-box-sizing: border-box;
  //box-sizing: border-box;
  background: url("../../../assets/img/tick_yellow.png") no-repeat;
  background-size: cover;
  width: 32px; /* Width of new image */
  height: 32px; /* Height of new image */
  display: inline-block;
  cursor: pointer;
}

.button-add:hover {
  cursor: pointer;
  outline: none;
  min-width: 40px;
  min-height: 40px;
  //border: 1px solid #25a75c;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  font: normal 26px / normal Tahoma, Geneva, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  background: #25a75c;
}

.block {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  overflow: hidden;
  border: 3px solid;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 14px 8px rgba(173, 164, 164, 0.17);
  box-shadow: 0 3px 14px 8px rgba(173, 164, 164, 0.17);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.block-list {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px;
  margin: 2px;
  overflow: hidden;
  border: 1px solid rgba(173, 162, 162, 1);
  font: normal 17px/1 Tahoma, Geneva, sans-serif;
  color: #34495e;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 1px;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 14px 8px rgba(173, 164, 164, 0.17);
  box-shadow: 0 3px 14px 8px rgba(173, 164, 164, 0.17);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
