.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #2ecc71;
  width: 100%;
  height: 80px;
  border: solid 2px #25a75c;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.anchors {
  width: 210px;
  height: 100%;
  display: flex;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #259149;

  .anchor-left {
    width: 50%;
    border-right: solid 2px #25a75c;
  }

  .anchor-right {
    width: 50%;
    border-left: solid 2px #25a75c;
  }

  fa {
    font-size: 40px;
    line-height: 80px;
    color: #ecf0f1;
  }

  fa:hover {
    cursor: pointer;
  }
}

.title {
  width: 400px;
  color: #fff;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
}

@media screen and (max-width: 600px) {
  .title {
    display: none;
  }
}

.stroke {
  -webkit-text-stroke-width: 3px !important;
  -webkit-text-stroke-color: #1a6633 !important;
  outline: none !important;
}
