@import '../../../../shared';

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $color-primary-light;
  width: 100%;
  height: 80px;
  border: solid 2px $color-primary;
  box-sizing: border-box;
  @include box-shadow(0 2px 2px $color-dark-transparent-secondary);
}

.anchors {
  width: 210px;
  height: 100%;
  display: flex;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $color-stroke;

  .anchor-left {
    width: 50%;
    border-right: solid 2px $color-primary;
  }

  .anchor-right {
    width: 50%;
    border-left: solid 2px $color-primary;
  }

  fa {
    font-size: 40px;
    line-height: 80px;
    color: #ecf0f1;
  }

  fa:hover {
    cursor: pointer;
  }
}

.title {
  width: 400px;
  color: $color-white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.stroke {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: $color-stroke-secondary;
  outline: 0;
}

