<div class="navbar">

  <div class="anchors">
    <div class="anchor-left">
      <fa [routerLink]="['/dashboard', {isArchive: false}]" routerLinkActive #rla="routerLinkActive"
          [ngClass]="rla.isActive && !isArchive ? 'stroke' : ''" name="bars"></fa>
    </div>
    <div class="anchor-left">
      <fa [routerLink]="['/dashboard', {isArchive: true}]" routerLinkActive #rlb="routerLinkActive"
          [ngClass]="rlb.isActive && isArchive ? 'stroke' : ''" name="archive"></fa>
    </div>
    <div class="anchor-left" *ngIf="buttonsShown">
      <fa (click)="hideLists.emit()" name="align-left"></fa>
    </div>
  </div>
  <div class="title"> {{'common.header' | translate | uppercase}} </div>
  <div class="anchors">
    <div class="anchor-right" *ngIf="buttonsShown">
      <fa (click)="hideTasks.emit()" name="align-right"></fa>
    </div>
    <div class="anchor-right">
      <fa (click)="logout()" name="power-off"></fa>
    </div>
    <div class="anchor-right">
      <fa [routerLink]="['/user-panel']" [routerLinkActive]="'stroke'" name="user-circle-o"></fa>
    </div>
  </div>

</div>
