@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.header {
  font-family: "Lato", sans-serif;
  margin: 2%;
  text-align: center;
  font-weight: bold;
  color: #e67e22;
}

.login-page {
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f3e7a9 !important;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.form input::placeholder {
  color: #f39c12 !important;
}

.form button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  background: #f39c12 !important;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #f3850a;
}
