<div class="app-title">
  <img class="app-form-image" src="../../../assets/img/checklist.png"/>
  <h1> {{ 'common.header' | translate | uppercase }} </h1>
</div>

<div class="app-form">
  <div class="app-form-title"><h1> {{ 'common.loginTitle' | translate | uppercase }} </h1></div>
  <form *ngIf="form" [formGroup]="form">
    <input class="app-field app-form-field" formControlName="email" type="text"
           placeholder="{{'common.email' | translate | capitalize}}"/>
    <input class="app-field app-form-field" formControlName="password" type="password"
           placeholder="{{'common.password' | translate | capitalize}}"/>
    <button class="app-button app-form-button"
            (click)="login(form)"> {{'common.login' | translate | uppercase}} </button>
    <p [routerLink]="['/register']" class="app-form-message"> {{ 'common.registerInfo' | translate | capitalize }} </p>
  </form>
</div>

<div class="app-block-language">
  <button class="app-button-lang" (click)="setLanguage('pl')"> {{'common.pl' | translate | uppercase}} </button>
  <button class="app-button-lang" (click)="setLanguage('en')"> {{'common.en' | translate | uppercase}} </button>
</div>
