@import '../../../shared.scss';

.app-panel-block-info {
  margin-top: 10px;
}

.app-panel-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px;

  form {
    text-align: center;
  }
}

.app-panel-field {
  padding: 20px;
  margin: 5px;
}

.app-panel-button {
  margin-top: 20px;
  padding: 20px;
  font-size: 28px;

  @media screen and (max-width: 600px) {
    font-size: 22px;
  }
}


